body {
  background-color: rgba(167, 165, 165, 0.63);
  background-image: url("https://media.istockphoto.com/photos/dollar-bills-on-a-background-with-dynamics-of-exchange-rates-trading-picture-id1130260211?k=20&m=1130260211&s=612x612&w=0&h=y0o5PpsXz6uzhKHgml__w3-bQC9pQwKzl59E9afxdSo=");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: rgba(233, 135, 122, 0.466);
  border: 3px inset;
  border-radius: 10px;
  text-shadow: 1px 2px 3px blue;
}

.jumbotron:hover {
  background-color: rgb(233, 135, 122);
  box-shadow: 5px 4px 5px white;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.form-section {
  display: none;
  text-align: center;
  color: white;
}

.card {
  color: rgb(255, 255, 255);
  display: none;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  margin-right: 30%;
  margin-left: 30%;
  border: 4px outset gray;
  border-radius: 5px;
  padding-top: 3%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url("https://i0.wp.com/www.meme-arsenal.com/memes/bbca872262146a0b93c9f8e0b4524062.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  background-color: rgba(0, 128, 0, 0.719);
  margin-top: 2%;
  transition: 2s;
}

.btn:hover {
  background-color: rgba(0, 216, 0, 0.829);
  box-shadow: 4px 4px 4px rgb(13, 87, 13);
  transform: rotateY(360deg);
  cursor: crosshair;
}

.show-cash, .show-result, .showError {
  font-size: 20px;
}

.starting-amount {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
}

.col-md-6 {
  text-align: center;
}

label {
  font-size: 20px;
  margin-bottom: 3%;
  text-shadow: 3px 3px 3px blue;
}

input[type="number"], input[list], textarea {
  background-color: rgb(36, 240, 36);
  color: red;
  text-align: center;
  box-shadow: 3px 3px 3px red;
  text-shadow: .5px .5px .5px black;
}

input:required:focus {
  background-color: rgb(36, 240, 36);
  color: red;
  text-align: center;
  box-shadow: 3px 3px 3px red;
}

option:hover {
  background-color: red;
}

.starting-page {
  background-color: rgba(0, 0, 0, 0.308);
  padding: 5%;
  border: 4px ridge red;
  border-radius: 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px blue;
}