.jumbotron {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-color: darksalmon;
  border: 3px inset;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.card {
  display: none;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
  border: 4px outset gray;
  padding: 2%;
}

.btn {
  background-color: rgba(0, 128, 0, 0.5);
  margin-top: 2%;
  margin-left: 44%;
}